body {
  margin: 0;
  background-color: #0b0f2a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Goldman", sans-serif;
  color: white;
}

h1 {
  margin-bottom: 10px;
}

#scoreBoard {
  font-size: 20px;
  margin-bottom: 8px;
}

#canvas {
  width: 90vw;
  max-width: 900px;
  aspect-ratio: 16 / 5;

  border: 3px solid #1749d2;
  border-radius: 25px;
  background-color: #11152e;
}

#message {
  margin-top: 10px;
}

#restartBtn {
  margin-top: 10px;
  padding: 8px 20px;
  cursor: pointer;
  display: none;
}